SERVER_PORT = 3010

SESSION_SECRET = $2b$15$fdsafds/.U0MNAkMg9jSZzsCN7vpB6vlzdflmzfO

DB_CONNECTION_STRING = 'postgres://leopa:test@127.0.0.1:5432/wanwan'

NGINX_LOCATION = ''
# NGINX LOCATION IS FOR DEVELOPMENT, ASK FOR DETAILS

REACT_APP_API_LOCATION = ${NGINX_LOCATION}/api/
CLIENT_LOCATION = ${NGINX_LOCATION}/

# THE ${} IS DOTENV-EXPAND FOR USING THE 
# EXISTING NGINX_LOCATION AS A VARIABLE

REDIS_PORT = 